.mainChartBox{
    width: 80%;
    border: 1px solid #0081C9;
    margin-right: 30px;

}
.homePageContent{
    display: flex;
    justify-content: center ;
    align-items: center;
    margin-top: 30px;
}

.detailsContent > p{
    color: #0081C9;
    font-size: x-large;
}

.footer{
    display: flex;
    justify-content:center;
}