.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;

}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_content{
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}



.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_content {
    background-color: aqua;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    border-radius: 50px;
    

}

.popup_close {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    scale: 200%;
}

.popup_title {
    font-size: 25px;
    margin: 0px 0px 1em 0px;
    font-family: HeaderFont;
    display: flex;
    justify-content:center ;
}
